  <p-inputmask mask="99/99"
               slotChar=""
               placeholder="0"
               [style]="{width: '60px'}"
               [(ngModel)]="valor"
               (onInput)="aoDigitarValor($event)"
               [disabled]="desabilitado"
               autoClear="false"/>
<!--  <i class="pi pi-minus" style="font-size: 1rem"></i>-->
<!--  <p-inputmask mask="999"-->
<!--               slotChar=""-->
<!--               placeholder="0"-->
<!--               [style]="{width: '30px'}"-->
<!--               [(ngModel)]="total"-->
<!--               (onInput)="aoDigitarTotal($event)"-->
<!--               [disabled]="desabilitado"[disabled]="desabilitado"-->
<!--               autoClear="false"/>-->
