<div id="frameHome">

  <p-card header="Despesas" [style]="{width: '100%',height:'100%'}">
    <p-chart type="bar" [data]="dataDespesas" [options]="optionsDespesa" height="485"/>
    <ng-template #footer>
      <p-message severity="info" icon="pi pi-money-bill" styleClass="h-full">
        Total: {{totalDespesa$ | currency}}
      </p-message>
    </ng-template>
  </p-card>

  <p-card header="Contas" [style]="{width: '100%',height:'100%'}">
    <p-chart type="pie" [data]="dataContas" [options]="optionsContas" height="485"/>
    <ng-template #footer>
      <p-message severity="info" icon="pi pi-money-bill" styleClass="h-full">
        Total: {{totalConta$ | currency}}
      </p-message>
    </ng-template>
  </p-card>

  <p-card header="Gastos" [style]="{width: '100%'} ">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Total anual</p-tab>
        <p-tab value="1">Gastos por Ano</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <p-chart type="bar" [data]="dataGastosAnual" [options]="optionsDataGastosAnual"/>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p-select [options]="[2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026]"
                    [(ngModel)]="selectedYear" (onChange)="aoAnoSelecionado($event)"/>
          <p-chart type="line" [data]="dataGastos" [options]="optionsGastos"/>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </p-card>

  <p-card header="Vencimentos Contas" [style]="{width: '100%'}">
    <p-table [value]="contasEmAberto" >
      <ng-template #body let-item>
        <tr [ngStyle]="rowStyle(item)" >
          <td><i [ngClass]="rowClassIcon(item)"></i> {{ item.tipoConta.nome }}</td>
          <td>{{ item.status}}</td>
          <td>{{ item.vencimento | date: 'dd/MM/yyyy' }}</td>
          <td>{{item.valor | currency}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

</div>

<p-toast/>

<app-loading-modal [visible]="loading" message="Processando sua requisição..."></app-loading-modal>
