<p>fornecedor works!</p>

<eui-datagrid [data]="fornecedores" style="height:600px">
  <eui-grid-column field="id" title="ID" width="50" ></eui-grid-column>
  <eui-grid-column field="nome" title="Name"></eui-grid-column>
  <eui-grid-column field="razaoSocial" title="Razão Social"></eui-grid-column>
  <eui-grid-column field="cnpj" title="CNPJ" width="130" align="center"></eui-grid-column>
  <eui-grid-column field="cpf" title="CPF" width="130" align="center"></eui-grid-column>
  <eui-grid-column field="cidade" title="Cidade" width="200"></eui-grid-column>
</eui-datagrid>
