<p-toolbar *ngIf="idEdicao" [style]="{'background-color': 'var(--p-yellow-100)', 'color':'red'}">
  <span><i class="pi pi-pencil" style="font-size: 1rem"></i> Edição de conta</span>
</p-toolbar>

<div id="frame">
  <div id="gridFormConta">
    <label>Cod. Barras</label>
    <p-inputmask [mask]="maskCnpj" autoClear="false" [(ngModel)]="codBarras" [style]="{width: '350px'}" size="small"/>
    <label>Tipo Conta: </label>
    <app-combo-default [values]="tiposContas" [loading]="loading" [(selected)]="tipoContaSelecionado" scrlHeight="700px"></app-combo-default>
    <label>Enissão:</label>
    <div style="display: grid; grid-template-columns: repeat(3, 100px); align-items: center;">
      <app-input-date [(valor)]="emissao"></app-input-date>
      <label>Vencimento: </label>
      <app-input-date [(valor)]="vencimento"></app-input-date>
    </div>
    <label>Parcelas: </label>
    <div>
      <app-input-parcelas [(valor)]="parcela" [(total)]="totalParcela"></app-input-parcelas>
      <label> Valor: </label>
      <app-input-money [(money)]="valor"></app-input-money>
    </div>
    <label> Obs: </label>
    <textarea rows="3" [(ngModel)]="obs" cols="30" pTextarea pSize="small" [style]="{width: '300px'}"></textarea>

    <label>Pagamento </label>
    <p-divider/>
    <label>Data Pgto: </label>
    <app-input-date [(valor)]="dataPagto"></app-input-date>

    <label>Forma Pgto: </label>
    <app-combo-default [values]="formasPagamento" [loading]="loading" [(selected)]="formaPgtoSelecionado">
    </app-combo-default>

    <label>Valor Pago: </label>
    <app-input-money [(money)]="valorPago"></app-input-money>

    <label></label>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; ">
      <p-button label="Salvar" icon="pi pi-save" iconPos="top" [style]="{width: '120px'}" [raised]="true" (onClick)="save()" />
      <p-button label="Cancelar" icon="pi pi-times" iconPos="top" [style]="{width: '120px'}" [raised]="true" severity="danger" (onClick)="goToContalist()" *ngIf="idEdicao"/>
<!--      <p-button label="Documento" icon="pi pi-file" iconPos="top" [style]="{width: '120px'}" [raised]="true" severity="info" (onClick)="popupDoc=true" />-->

    </div>

  </div>

  <div>
    <div style="display: grid; grid-template-columns: 120px 1fr; ">
      <p-fileupload #fu [style]="{width: '120px', height: '48px'}" mode="basic" chooseLabel="Selecionar" chooseIcon="pi pi-upload" auto="true" accept=".pdf,image/*"  (onSelect)="aoSelecionar($event)" customUpload="true"/>
    </div>
    <iframe *ngIf="conteudoBase64" [src]="conteudoBase64" style="height: 700px; width: 850px;"></iframe>
  </div>

</div>

<p-toast/>

<app-loading-modal [visible]="loading" message="Processando sua requisição..."></app-loading-modal>
