#frame{
  padding: 15px;
  display: grid;
  grid-template-columns: 600px 1fr;
  align-items: start;
}

#gridFormConta{
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
