<div class="panelTop">
  <p-card header="Filtros">
    <div id="panelFiltros">
      <label>Id: </label>
      <p-inputmask mask="999999999" [(ngModel)]="idFilter" [autoClear]="false" [slotChar]="''" [showClear]="true"></p-inputmask>
      <label>Tipo Conta: </label>
      <app-combo-default [values]="tiposConta" [loading]="loading" [(selected)]="tipoContaFilter" scrlHeight="500px" larg="100%" [shClear]="true"></app-combo-default>
      <label>Status: </label>
      <p-select [options]="status" size="small" [(ngModel)]="statusFilter" optionLabel="name" placeholder="Status conta" [showClear]="true"/>
      <label>Emissão: </label>
      <div style="display: grid; grid-template-columns: 100px 100px; align-items: center">
        <app-input-date [(valor)]="emissaoInicialFilter" larg="95%" [shClear]="true"></app-input-date>
        <app-input-date [(valor)]="emissaoFinalFilter" larg="95%" [shClear]="true"></app-input-date>
      </div>
      <label>Vencimento: </label>
      <div style="display: grid; grid-template-columns: 100px 100px; align-items: center">
        <app-input-date [(valor)]="vencimentoInicialFilter" larg="95%" [shClear]="true"></app-input-date>
        <app-input-date [(valor)]="vencimentoFinalFilter" larg="95%" [shClear]="true"></app-input-date>
      </div>
      <div></div>
      <div style="display: grid; grid-template-columns: 100px 100px; align-items: center">
          <p-button icon="pi pi-filter" label="Filtrar" [raised]="true" (onClick)="dt._filter()"/>
          <p-button icon="pi pi-filter-slash" severity="secondary" label="Limpar" [raised]="true" (onClick)="clearFilter()"/>
      </div>
    </div>
  </p-card>

  <div>
    <p-card [style]="{ width: '250px'}">
      <p-message severity="success" icon="pi pi-money-bill" styleClass="h-full">
        Total: {{valorTotal | currency}}
      </p-message>
      <p-message severity="secondary" icon="pi pi-bars" styleClass="h-full">
        Registros: {{totalElements}}
      </p-message>
    </p-card>

    <p-card [style]="{ width: '250px'}">
      <p-button label="Docs" icon="pi pi-file-o" iconPos="top" [style]="{width: '100%'}" [raised]="true" (onClick)="docsVisible = true"/>
    </p-card>

  </div>

  <p-card header="Conta" id="panelConta" *ngIf="contaSelecinada">
    <div id="gridDetailConta">
      <div id="gridContaInfo" >
        <span>Cód de Barras: </span><b>{{contaSelecinada.codigoBarra}}</b>
        <span>Conta: </span><b>{{contaSelecinada.tipoConta.nome}}</b>
        <span>Emissão: </span>
        <div style="display: grid;grid-template-columns: repeat(3,1fr);">
          <b>{{contaSelecinada.emissao | date: 'dd/MM/yyyy'}}</b>
          <span>Vencimento: </span>
          <b>{{contaSelecinada.vencimento | date: 'dd/MM/yyyy'}}</b>
        </div>
        <span>Valor: </span>
        <div style="display: grid;grid-template-columns: repeat(3,1fr);">
          <b>{{contaSelecinada.valor | currency}}</b>
          <span>Parcelas: </span>
          <b>{{contaSelecinada.parcela}} / {{contaSelecinada.totalParcela}}</b>
        </div>
        <span>Desconto: </span>
        <div style="display: grid;grid-template-columns: repeat(3,1fr);">
          <b>{{contaSelecinada.desconto | currency}}</b>
          <span>Multa: </span>
          <b>{{contaSelecinada.multa | currency}}</b>
        </div>
        <span>Valor Pago: </span>
        <b>{{contaSelecinada.valorPago | currency}}</b>
        <span>Forma Pgto: </span>
        <b>{{contaSelecinada.formaPagamento ? contaSelecinada.formaPagamento!.nome : ''}}</b>
        <span>Data Pgto: </span>
        <b>{{contaSelecinada.formaPagamento ? (contaSelecinada.dataPagamento | date: 'dd/MM/yyyy') : ''}}</b>
        <span>Observação: </span>
        <b>{{contaSelecinada.obs}}</b>
      </div>

      <p-button label="Pagar" *ngIf="contaSelecinada.intStatus!=2" icon="pi pi-save" iconPos="top" [style]="{width: '120px'}"
                [raised]="true" (onClick)="setPago(contaSelecinada)" />

      <p-message severity="error" *ngIf="!contaSelecinada.tipoConta.ativo">Encerrada!</p-message>
    </div>
  </p-card>
</div>

<div style="width: 1260px;">
  <p-table #dt
           [value]="contas"
           [lazy]="true"
           [size]="'small'"
           [loading]="loading"
           [totalRecords]="totalElements"
           [sortOrder]="-1"
           [sortField]="sortField"
           [paginator]="true"
           [rows]="pageSize"
           [rowsPerPageOptions]="[10, 20, 30, 40]"
           [(selection)]="contaSelecinada"
           (onLazyLoad)="loadData($event)"
           [(contextMenuSelection)]="contaSelecinada"
           [contextMenu]="cm"
           currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
           dataKey="id"
           editMode="row"
           scrollHeight="flex"
           responsiveLayout="stack"
           selectionMode="single"
           showGridlines
           stripedRows>
        <ng-template #header>
          <tr>
            <th pSortableColumn="id">Id<p-sortIcon field="id"/></th>
            <th pSortableColumn="tipoConta">Conta<p-sortIcon field="tipoConta"/></th>
            <th pSortableColumn="emissao">Emissão<p-sortIcon field="emissao"/></th>
            <th pSortableColumn="vencimento">Vencimento<p-sortIcon field="vencimento"/></th>
            <th pSortableColumn="parcela">Parcelas</th>
            <th pSortableColumn="valor">Valor<p-sortIcon field="valor"/></th>
            <th>Valor Pago</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template #body let-conta>
          <tr [pTooltip]="conta.obs" [pSelectableRow]="conta" [pContextMenuRow]="conta" [ngStyle]="rowStyle(conta)">
            <td>{{ conta.id }}</td>
            <td>{{ conta.tipoConta.nome }}
              <i *ngIf="!conta.tipoConta.ativo" [style]="{float:'right'}" style="color: red" pTooltip="Conta Cancelada">Encerrada !</i>
            </td>
            <td class="text-center">{{ conta.emissao | date: 'dd/MM/yyyy' }}</td>
            <td class="text-center">{{ conta.vencimento | date: 'dd/MM/yyyy' }}</td>
            <td class="text-center">{{ conta.parcela +"/"+ conta.totalParcela }}</td>
            <td class="text-right">{{ conta.valor | currency }}</td>
            <td class="text-right">{{ conta.valorPago | currency }}</td>
            <td class="text-center" style="padding: 0">
              <p-message size="small" *ngIf="conta.status=='Em Aberto'"       icon="pi pi-calendar-clock" severity="success" class="p-0 m-0">{{ conta.status}}</p-message>
              <p-message size="small" *ngIf="conta.status=='Pago'"            icon="pi pi-check-square" severity="info" class="p-0 m-0">{{ conta.status}}</p-message>
              <p-message size="small" *ngIf="conta.status=='Atrasado'"        icon="pi pi-exclamation-circle" severity="error" class="p-0 m-0">{{ conta.status}}</p-message>
              <p-message size="small" *ngIf="conta.status=='Vencimento Hoje'" icon="pi pi-bell" severity="warn" class="p-0 m-0">{{ conta.status}}</p-message>
            </td>
            <td>
              <div style="display: grid; grid-template-columns: repeat(2, 28px); text-align: center; align-content: center">
                <i class="pi pi-pencil" [pTooltip]="'Editar'" style="color: blue" (click)="editConta(conta.id)"></i>
                <i class="pi pi-trash" [pTooltip]="'Excluir'" style="color: red" (click)="delConta($event, conta.id)"></i>
  <!--              <i class="pi pi-check-circle" [pTooltip]="'Pagar'" style="color: green" (click)="setPago($event, conta)" *ngIf="conta.status!='Pago'"></i>-->
              </div>
            </td>
          </tr>
        </ng-template>
  </p-table>
</div>

<p-contextmenu #cm [model]="items"></p-contextmenu>

<p-drawer [(visible)]="docsVisible" header="Documentos" position="right" [style]="{width: '40%'}">

  <div style="display: grid; grid-template-columns: 80% 20%">
    <input type="text" pInputText [(ngModel)]="basePath" />
    <p-button label="Carregar" icon="pi pi-sync" size="small" (onClick)="carregarDocs()"/>
  </div>

    <p-table
      [scrollable]="true"
      [(selection)]="selectedFile"
      (onRowSelect)="aoSelecionarDocs($event)"
      [value]="files"
      size="small"
      dataKey="id"
      editMode="row"
      selectionMode="single"
      scrollHeight="300px">
      <ng-template #header>
        <tr>
          <th pSortableColumn="nome">Arquivo</th>
          <th pSortableColumn="sz">Tamanho</th>
          <th [style]="{width:'40px'}">Excluir</th>
        </tr>
      </ng-template>
      <ng-template #body let-file let-editing="editing" let-ri="rowIndex">
        <tr [pSelectableRow]="file">
          <td>{{ file.nome }}</td>
          <td>{{ file.sz | fileSize:2 }}</td>
          <td>
            <button size="small" [pTooltip]="'Excluir'" pButton pRipple type="button" icon="pi pi-trash"
                    text rounded severity="danger" (click)="delDoc($event, file)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <iframe *ngIf="conteudoBase64" [src]="conteudoBase64" style="height: 80%; width: 100%;"></iframe>

</p-drawer>

<p-confirmdialog header="Confirmação"></p-confirmdialog>

<p-dialog #frameSetPago header="Pagar conta"  [modal]="true" [(visible)]="setContaPagaVisible" [style]="{ width: '40rem', height: '25rem' }" >
  <div style="display: grid; grid-template-columns: 80px 1fr; column-gap: 15px; row-gap: 15px; align-items: center;">
    <label>Data Pgto: </label>
    <app-input-date [(valor)]="contaPagaDataPgto"></app-input-date>
    <label>Forma Pgto: </label>
    <app-combo-default [values]="formasPgto" [loading]="loading" [(selected)]="contaPagaFormaPgto" larg="100%" [shClear]="true"></app-combo-default>
    <label>Valor Pgto: </label>
    <app-input-money [(money)]="contaPagaValor"></app-input-money>
  </div>

  <ng-template #footer>
    <p-button label="Cancelar" severity="secondary" (click)="setContaPagaVisible = false" />
    <p-button label="Salvar" (click)="pagarConta()" />
  </ng-template>
</p-dialog>

<app-loading-modal [visible]="loading" message="Processando sua requisição..."></app-loading-modal>

<p-toast/>


