.panelTop{
  display: grid;
  grid-template-columns: 400px 260px 1fr;
  column-gap: 5px;
  row-gap: 5px;
  height: 260px;
  width: 1260px;
}

#panelFiltros{
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
  padding-left: 10px;
}

#panelConta{
  width: 98%;
}

#gridDetailConta{
  display: grid;
  grid-template-columns: 420px repeat(3,1fr);
  column-gap: 5px;
  row-gap: 5px;

}
#gridContaInfo{
  display: grid;
  grid-template-columns: 85px 1fr;
  column-gap: 5px;
  row-gap: 5px;

}
