<div id="frame">
  <label>Tipo Pessoa: </label>
  <p-selectbutton [options]="stateOptions"
                  [(ngModel)]="tipoPessoa"
                  optionLabel="label"
                  optionValue="value"
                  (onChange)="changePerson()"
                  aria-labelledby="basic">
    <ng-template #item let-item>
      {{ item.label }} <i [class]="item.icon"></i>
    </ng-template>
  </p-selectbutton>

  <label>CNPJ: </label>
  <div>
    <p-inputmask [mask]="maskCnpj" [(ngModel)]="cnpj" [placeholder]="maskCnpj" size="small" disabled="{{tipoPessoa=='pf'}}"/>
    <p-button icon="pi pi-cloud" [raised]="true" disabled="{{tipoPessoa=='pf'}}" (onClick)="searchCNPJ()" [style]="{padding: '7px', marginLeft: '10px'}"/>
  </div>

  <label>CPF: </label>
  <input type="text" pInputText pSize="small" style="width: 200px;" [disabled]="tipoPessoa=='pj'" [(ngModel)]="cpf"/>
  <label>Nome: </label>
  <input type="text" pInputText pSize="small" style="width: 500px;" [(ngModel)]="nome"/>
  <label>Razão Social: </label>
  <input type="text" pInputText pSize="small" style="width: 500px;" [(ngModel)]="razaoSocial"/>

  <label>Cidade: </label>
  <div>
    <p-select [options]="estados" size="small" optionLabel="name" (onChange)="searchCities(null)" [(ngModel)]="estadoSelect" placeholder="Estado" [disabled]="tipoPessoa=='pj'" [showClear]="true"/>

    <p-select [options]="cidades" optionLabel="nome" size="small" [disabled]="tipoPessoa=='pj'" [style]="{width: '300px', marginLeft: '30px'}" [(ngModel)]="cidadeSelect" [filter]="true" filterBy="nome" [showClear]="true" [placeholder]="cidadeSelect.nome"/>
  </div>

  <label></label>
  <p-button label="Salvar" icon="pi pi-save" iconPos="top" [style]="{width: '120px'}" [raised]="true" (onClick)="save()"/>
</div>

<!--<app-loading-modal [visible]="loading" message="Processando sua requisição..."></app-loading-modal>-->

<!--<p-toast/>-->

