<p-toolbar>
  <span><i class="pi pi-file-o" style="font-size: 1rem"></i> Documentos</span>
</p-toolbar>

<input type="text" pInputText [(ngModel)]="basePath" style="width: 50%"/>
<p-button label="Carregar" icon="pi pi-sync" size="small" (onClick)="carregar()"/>

<div id="gridDoc">

  <p-table
    [scrollable]="true"
    selectionMode="single"
    [(selection)]="selectedFile"
    scrollHeight="800px"
    (onRowSelect)="aoSelecionar($event)"
    [value]="files">
    <ng-template #header>
      <tr>
        <th pSortableColumn="file">Nome</th>
      </tr>
    </ng-template>
    <ng-template #body let-file>
      <tr [pSelectableRow]="file">
        <td>{{ file }}</td>
      </tr>
    </ng-template>
  </p-table>

  <iframe *ngIf="conteudoBase64" [src]="conteudoBase64" style="height: 100%; width: 100%;"></iframe>

</div>


<p-toast/>
