<div class="panelTop">
  <p-card header="Filtros">
    <div id="panelFiltros">
      <label>Periodo: </label>
      <div style="display: grid; grid-template-columns: 100px 100px; align-items: center;">
        <app-input-date [(valor)]="dataInicialFilter" larg="95%" [shClear]="true"></app-input-date>
        <app-input-date [(valor)]="dataFinalFilter" larg="95%" [shClear]="true"></app-input-date>
      </div>
      <label>Tipo Despesa: </label>
      <app-combo-default [values]="tiposDespesa" [loading]="loading" [(selected)]="tipoDespesaFilter"
                         [scrlHeight]="'500px'" larg="100%" [shClear]="true"></app-combo-default>
      <label>Forma Pgto: </label>
      <app-combo-default [values]="formasPgto" [loading]="loading" [(selected)]="formaPgtoFilter"
                         [scrlHeight]="'500px'" larg="100%" [shClear]="true"></app-combo-default>
      <label>Fornecedor: </label>
      <app-combo-default [values]="fornecedores" [loading]="loading" [(selected)]="fornecedorFilter"
                         [scrlHeight]="'500px'" larg="100%" [shClear]="true"></app-combo-default>
      <label></label>
      <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <p-button icon="pi pi-filter" label="Filtrar" [raised]="true" (onClick)="dt._filter()"/>
        <p-button icon="pi pi-filter-slash" severity="secondary" label="Limpar" [raised]="true" (onClick)="clearFilter()"/>
      </div>
    </div>
  </p-card>

  <div>
    <p-card header="Total" [style]="{ width: '250px'}">
      <p-message severity="success" icon="pi pi-money-bill" styleClass="h-full">
        {{valorTotal | currency}}
      </p-message>
    </p-card>
    <p-card header="Registros" [style]="{ width: '250px', marginTop:'10px'}">
      <p-message severity="secondary" icon="pi pi-bars" styleClass="h-full">
        {{totalElements}}
      </p-message>
    </p-card>
  </div>

</div>

<p-table #dt
         [value]="despesas"
         [size]="'small'"
         [lazy]="true"
         [loading]="loading"
         [totalRecords]="totalElements"
         [sortOrder]="-1"
         [sortField]="sortField"
         [paginator]="true"
         [rows]="pageSize"
         [rowsPerPageOptions]="[15, 20, 25,35,45]"
         [(selection)]="despesaSelecinada"
         (onLazyLoad)="loadData($event)"
         [paginatorPosition]="'top'"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         dataKey="id"
         editMode="row"
         scrollHeight="flex"
         responsiveLayout="stack"
         showGridlines
         stripedRows>
  <ng-template #header>
    <tr>
      <th pSortableColumn="id">Id<p-sortIcon field="id"/></th>
      <th pSortableColumn="tipoDespesa">Despesa<p-sortIcon field="tipoDespesa"/></th>
      <th pSortableColumn="fornecedor">Fornecedor<p-sortIcon field="fornecedor"/></th>
      <th pSortableColumn="dataPagamento">Data Pgto<p-sortIcon field="dataPagamento"/></th>
      <th pSortableColumn="formaPagamento">Forma Pgto<p-sortIcon field="formaPagamento"/></th>
      <th pSortableColumn="valor">Valor<p-sortIcon field="valor"/></th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template #body let-despesa>
    <tr [pTooltip]="despesa.obs">
      <td>{{ despesa.id }}</td>
      <td>{{ despesa.tipoDespesa.nome }}</td>
      <td>{{ despesa.fornecedor.nome }}</td>
      <td class="text-center">{{ despesa.dataPagamento | date: 'dd/MM/yyyy' }}</td>
      <td>{{ despesa.formaPagamento.nome }}</td>
      <td class="text-right">{{ despesa.valor | currency }}</td>
      <td>
        <div style="display: grid; grid-template-columns: 50% 50%; text-align: center;">
          <i class="pi pi-pencil" [pTooltip]="'Editar'" style="color: blue" (click)="editDespesa(despesa.id)"></i>
          <i class="pi pi-trash" [pTooltip]="'Excluir'" style="color: red" (click)="delDespesa($event, despesa.id)"></i>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmdialog message="Confirma a exclusão da despesa" header="Confirmação" closable="true"
                 icon="pi pi-exclamation-triangle" closeOnEscape="true">

</p-confirmdialog>
<p-toast/>
