.panelTop{
  display: grid;
  grid-template-columns: 500px 260px 1fr;
  column-gap: 5px;
  row-gap: 5px;
  height: 240px;
}

#panelFiltros{
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
  padding-left: 10px;
}
