@import '../node_modules/ng-easyui/themes/metro/easyui.css';
@import '../node_modules/ng-easyui/themes/angular.css';
@import '../node_modules/ng-easyui/themes/icon.css';/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html, body{
  padding: 0;
  margin: 0;
}


.icon-home{
  background:url('https://img.icons8.com/color/16/home.png') no-repeat center center;
}
.icon-money{
  background:url('https://img.icons8.com/color/16/cash.png') no-repeat center center;
}
.icon-doc{
  background:url('https://img.icons8.com/color/16/documents.png') no-repeat center center;
}
.icon-barcode{
  background:url('https://img.icons8.com/color/16/barcode.png') no-repeat center center;
}
.icon-magnetic-card {
  background:url('https://img.icons8.com/color/16/bank-card-back-side.png') no-repeat center center;
}
.icon-box {
  background:url('https://img.icons8.com/color/16/cardboard-box.png') no-repeat center center;
}
.icon-tag-green {
  background:url('https://img.icons8.com/color/16/tag-window.png') no-repeat center center;
}
.icon-dbarrow-right {
  background:url('https://img.icons8.com/color/16/double-right--v1.png') no-repeat center center;
}

