<div id="frame">
  <label *ngIf="idEdicao">Id: </label>
  <label *ngIf="idEdicao">{{idEdicao}} </label>
  <label>Tipo Despesa: </label>
  <app-combo-default [values]="tiposDespesa" [loading]="loading" [(selected)]="tipoDespesaSelecionado" scrlHeight="550px"></app-combo-default>

  <label>Fornecedor: </label>
  <p-autocomplete [(ngModel)]="fornecedorSelecionado" [suggestions]="fornecedores" [inputStyle]="{width: '600px'}" size="small" optionLabel="nome" (completeMethod)="search($event)" [forceSelection]="true" placeholder="fornecedor">
    <ng-template let-fornec #item>
      <div>{{ fornec.nome }} [{{fornec.cnpj ? fornec.cnpj : fornec.cpf}}]</div>
    </ng-template>
  </p-autocomplete>

  <label>Data: </label>
  <app-input-date [(valor)]="data" larg="300px"></app-input-date>

  <label>Valor: </label>
  <app-input-money [(money)]="valor" larg="300px"></app-input-money>

  <label>Forma Pgto: </label>
  <app-combo-default [values]="formasPgto" [loading]="loading" [(selected)]="formaPgtoSelecionado"></app-combo-default>

  <label>Observação: </label>
  <textarea rows="3" [(ngModel)]="obs" cols="30" pTextarea pSize="small" [style]="{width: '300px'}"></textarea>

  <label></label>
  <p-button label="Salvar" icon="pi pi-save" iconPos="top" [style]="{width: '120px'}" [raised]="true" (onClick)="save()" *ngIf="!idEdicao"/>

  <div *ngIf="idEdicao">
    <p-button label="Atualizar" icon="pi pi-save" iconPos="top" [style]="{width: '120px', marginRight: '60px'}" [raised]="true" (onClick)="save()"  severity="success"/>
<!--    <p-button label="Cancelar" icon="pi pi-times" iconPos="top" [style]="{width: '120px'}" [raised]="true"-->
<!--              severity="danger" (onClick)="goParaDespesalist()"/>-->
  </div>

</div>

<div style="width: 750px">
  <p-message severity="secondary">Total: {{valorTotal | currency}}</p-message>
</div>

<p-toast/>

<app-loading-modal [visible]="loading" message="Processando sua requisição..."></app-loading-modal>
