.line1{
  display: grid;
  grid-template-columns: 105px 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 15px;
}

.line2{
  display: grid;
  grid-template-columns: 105px 100px 60px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-content: start
}
